body,
html {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background: lightskyblue;
}

.gear {
   position: absolute;
   top: 5%;
   right: 5%;
}

.gear i {
   font-size: 30px;
   color: #fff;
}

.gear i:hover {
   color: #000;
   transition: 0.5s;
}
